.Calculator-container{
    display:flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.result-container{
    padding:20px;
    border: 5px;
    text-align:right;
    background-color: rgb(65, 65, 65);
    width: 500px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-start;
}
[data-operator]{
    background-color: rgb(206, 36, 36);
}
[data-number]{
    background-color: rgb(63, 63, 63);
}
.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 500px;
    height: 500px;
}
.button{
    border: 1px;
    border-radius: 4px;
    margin: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}